//
//  Config.xcconfig
//  VideoCallDemo
//
//  Created by Noye Samuel on 03/05/2023.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974
A_Token = 6a6b0814a6f84f5f4cdc805fe64b6c533663cb0f
App_ID = 0A7F7DC2-AD5E-4D48-9E07-222A706C6557
User_ID = 1309
